.contact {
  width: 80%;
  padding: 51px 64px;
  display: flex;
  border: 0.4px solid #CDD1D4;
  border-radius: 8px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin: 104px auto;
     
  .header {
    font-family: var(--font-empik-black);
    font-size: 40px;
    margin: 0;
  }

  .button {
    padding: 16px 50px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  .menu {
    .item {
      margin-left: 30px;
      font-size: 14px;
    }
  }

  .copyright {
    text-align: right;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}